<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>67thChofufesApp.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>C99E62661F5C29480084A1E1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C99E627A1F5C29490084A1E1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C99E62851F5C29490084A1E1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
